//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.region-navigation {
  a {
    vertical-align: middle;
  }

  .logo {
    margin-right: 10px;
  }
}