.total-rows {
  margin-bottom: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
}

.form-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}